MS.Web/Web References/tr.com.migros.magazaiphone/cacheservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ClearCacheForCardNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardnumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearCacheForCardNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearCacheForCardNumberResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultData" />
          <s:element minOccurs="1" maxOccurs="1" name="HasError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultObject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenticationHeader" type="tns:AuthenticationHeader" />
      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceSecretKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceApiKey" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClearCacheForCardNumberSoapIn">
    <wsdl:part name="parameters" element="tns:ClearCacheForCardNumber" />
  </wsdl:message>
  <wsdl:message name="ClearCacheForCardNumberSoapOut">
    <wsdl:part name="parameters" element="tns:ClearCacheForCardNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ClearCacheForCardNumberAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:portType name="CacheServiceSoap">
    <wsdl:operation name="ClearCacheForCardNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Clear Cache .</wsdl:documentation>
      <wsdl:input message="tns:ClearCacheForCardNumberSoapIn" />
      <wsdl:output message="tns:ClearCacheForCardNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CacheServiceSoap" type="tns:CacheServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCacheForCardNumber">
      <soap:operation soapAction="http://tempuri.org/ClearCacheForCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ClearCacheForCardNumberAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CacheServiceSoap12" type="tns:CacheServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCacheForCardNumber">
      <soap12:operation soapAction="http://tempuri.org/ClearCacheForCardNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ClearCacheForCardNumberAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CacheService">
    <wsdl:port name="CacheServiceSoap" binding="tns:CacheServiceSoap">
      <soap:address location="https://magaza-iphone.migros.com.tr/ws201910test/cacheservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CacheServiceSoap12" binding="tns:CacheServiceSoap12">
      <soap12:address location="https://magaza-iphone.migros.com.tr/ws201910test/cacheservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>